*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.container{
    width: 95%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-style: solid;
    box-shadow: #000000 4px 4px;
    border-color: #000000;
    border-radius: 35px;
    width: 70%;
}

.imagem{
    width: 100%;
    display: inline-block;
}

.minidiv{
    width: 100%;
    display: inline-block;
    text-align: left;
    justify-content: center;
    margin: 10px;

}

.imgE{
  
    width: 70%;
    box-shadow: #000000 4px 4px;
    border-color: #000000;
    border: solid;
    
}


.icons{

    width: 4%;
}

.margin{
    margin: 10px 0;
}

.doisbutao{
padding: 20px;
   
   
}

.Paragrafos{
    
    padding: 20px;
}

.butaologin {

    border: solid; 
    border-width: 2px 2px 2px 2px;
    box-shadow: #000000 4px 4px;
    background-color: #0D9ECA;
    font-weight: bold;
    text-align: center;
    width: 110px;
    height: 30px;
    padding: 10px ;
    margin-right: 10px;
   }
 
   .butaocadastro {
 
     border: solid; 
     border-width: 2px 2px 2px 2px;
     box-shadow: #000000 4px 4px;
     background-color: #FFBA01;
     font-weight: bold;
     text-align: center;
     width: 110px;
     height: 30px;
     padding: 10px;
    }
 
   .butao{
     text-decoration: none;
     color: #000;
     text-align: center;
     align-items: center;
     font-size: 100%;
   }

   @media screen and (max-width: 1000px) {
    .row {
      flex-direction: column;
    }
 
    .imgE{
        margin-top: 20px;
    }

    .Paragrafos{
        margin-left: 3%;
    }

    }
